# Ignore node modules for the client directory
client/univercity-client/node_modules/

# Ignore built files for the client directory
client/univercity-client/build/
client/univercity-client/dist/

# Ignore environment variables for the client directory
client/univercity-client/.env
client/univercity-client/.env.local
client/univercity-client/.env.*.local

# Ignore editor directories and files for the client directory
client/.idea/
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

# Ignore WebStorm configuration files
client/.idea/
client/*.iml
client/*.ipr
client/*.iws
client/.idea/

# Ignore npm debug logs
client/univercity-client/npm-debug.log*

# Ignore yarn debug logs and error logs
client/univercity-client/yarn-debug.log*
client/univercity-client/yarn-error.log*

# Ignore target directory for the back-end directory
back-end/target/

# Ignore IntelliJ IDEA project files for the back-end directory
back-end/.idea/
back-end/*.iml
back-end/*.ipr
back-end/*.iws

# Ignore Maven build files
back-end/target/
back-end/.mvn/wrapper/maven-wrapper.jar
back-end/.mvn/wrapper/maven-wrapper.properties

# Ignore Maven user-specific files
back-end/dependency-reduced-pom.xml
back-end/buildNumber.properties

# Ignore logs
back-end/logs/

# Ignore Maven log files
back-end/maven.log

# Ignore Eclipse project files
back-end/.project
back-end/.classpath

# Ignore Maven Eclipse files
back-end/.settings/
