*{box-sizing: border-box;}
*{font-family: 'Roboto', sans-serif;}




h1,h2,h3,h4,h5,h6{margin:0;padding:0} 
body{
    margin: 0;
    padding: 0;
}
.centerBlock{
 
}


@media  only screen and (max-width:1060px){
    .centerBlock{
        width:90%;
    }
}




html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  html {
    font-size: 22px;
  }
}